body {
  background-color: rgb(145, 130, 100);
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

main {
  max-width: 1000px;
  margin: 40px auto;
}

h1 {
  font-size: 3rem;
}

.start {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: none;
  background-color: white;
  color: rgb(145, 130, 100);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.75rem;
}

.board {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  border-radius: 0.75rem;
  border: 0.25rem solid white;
  background-color: rgb(125, 196, 184);
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: rgb(102, 156, 147);
}

.symbol {
  font-size: 10rem;
  display: none;
  cursor: pointer;
}

.backside {
  height: 250px;
  width: 250px;
}

.card.flipped .symbol {
  display: block;
}

.card.flipped .backside {
  display: none;
}

.turns {
  font-size: 1.5rem;
}